@import './root.css';

.card {
  align-items: center;
  background: var(--sand);
  border: 2px solid var(--brown-dark);
  border-radius: var(--card-border-radius);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  cursor: grab;
  display: flex;
  flex-direction: column;
  height: 100px;
  margin: 10px 20px;
  padding: var(--gap-small);
  position: relative;
  transition: all 0.2s ease;
  width: 100px;
}

.card.owned-card {
  opacity: 0.4;
}

.card.non-interactive-card {
  cursor: default;
}

.card:hover {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
}

.card:active {
  box-shadow: 0 0 3px 6px rgba(0, 0, 0, 0.2);
}

.card p {
  color: var(--brown-dark);
  display: block;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 4px 0;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  width: 80px;
}

.card img {
  height: 50px;
  object-fit: contain;
  width: 50px;
}

.card img.equippable-icon {
  height: 16px;
  position: absolute;
  right: 4px;
  top: 4px;
  width: 16px;
}

@media (max-width: 729px) {
  .card {
    height: 70px;
    margin: 5px;
    padding: 3px;
    width: 72px;
  }

  .card p {
    font-size: 8px;
    margin: 0 0 5px;
    width: 70px;
  }

  .card img {
    height: 40px;
    width: 40px;
  }
}
