@import './root.css';
@import './modal.css';
@import './toaster.css';
@import './card.css';

.stats-container {
  align-items: center;
  background-image: url('/images/stats-bg.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--not-white);
  display: flex;
  height: 75px;
  justify-content: space-around;
  left: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.content-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 var(--gap-regular) 90px;
  position: relative;
  width: 100%;
}

.board {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  transition: all 0.2s ease;
  width: 100%;
}

.show {
  display: flex;
}

.board-buttons-container {
  align-items: center;
  display: flex;
  position: absolute;
  top: var(--gap-regular);
  z-index: 10;
}

.board-buttons-container.discoveries {
  left: var(--gap-regular);
}

.board-buttons-container.badges-instructions {
  right: var(--gap-regular);
}

.board-button {
  align-items: center;
  border-radius: 100%;
  display: flex;
  height: 40px;
  justify-content: center;
  margin-left: var(--gap-regular);
  width: 40px;
}

@media (max-width: 729px) {
  .content-wrapper {
    padding: 0 22px 80px;
  }

  .stats-container {
    height: 75px;
  }

  div#discoveries-board {
    overflow-y: auto;
  }

  .instructions-button {
    height: 30px;
    width: 30px;
  }
}
