@import './root.css';

.toaster {
  align-items: center;
  bottom: 75px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  display: none;
  justify-content: center;
  left: 50%;
  padding: var(--gap-regular);
  position: fixed;
  text-align: center;
  transform: translateX(-50%);
  opacity: 0.95;
  width: 410px;
}

.toaster-error {
  display: flex;
  background: var(--error-red);
  border: 1px solid var(--error-red-dark);
}

.toaster-info {
  display: flex;
  background: var(--not-white);
  border: 1px solid var(--info-blue);
}

.toaster-warning {
  display: flex;
  background: var(--warning-orange);
  border: 1px solid var(--warning-orange-dark);
}

.toaster-success {
  display: flex;
  background: var(--success-green);
  border: 1px solid var(--success-green-dark);
}

@media (max-width: 729px) {
  .toaster {
    width: 95%;
  }
}
