.new-card {
  animation: new-card 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.shake-horizontal {
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.highlight-card {
  animation: highlight-card 0.65s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.highlight-button {
  animation: highlight-button 0.9s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@keyframes shake-horizontal {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateX(-6px);
  }

  20%,
  40%,
  60% {
    transform: translateX(4px);
  }

  80% {
    transform: translateX(2px);
  }

  90% {
    transform: translateX(-2px);
  }
}

@keyframes new-card {
  0%,
  25% {
    transform: scale(0.25);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes highlight-card {
  0% {
    border-color: var(--gray);
  }
  50% {
    transform: scale(1.025);
    border-color: var(--warning-orange);
  }
  100% {
    border-color: var(--gray);
  }
}

@keyframes highlight-button {
  0% {
    border-color: var(--gray);
  }
  25% {
    transform: scale(1.35);
    border-color: var(--warning-orange);
  }
  50% {
    transform: scale(1);
    border-color: var(--gray);
  }
  75% {
    transform: scale(1.35);
    border-color: var(--warning-orange);
  }
  100% {
    border-color: var(--gray);
  }
}

